* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul a {
  width: 200px;
  height: 40px;
  display: block;
  color: #000000;
  text-decoration: none;
  text-indent: 40px;
  line-height: 40px;
  background: url(../imagens/menu.png) no-repeat left top;
}
ul a:hover {
  background-position: right bottom;
  color: #ffffff;
}
