body{
    background: #007fc7;
}
#container{
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}
h1{
  width: auto;
}
p{
    width: 300px;
   
}
.relative{
    position: absolute;
    /*Para utilizar posicionamento é necessário utilizar o TOP BOTTOM RIGHT LEFT*/
    border: 1px solid red;
    /*top: 20px;Será realinhado 20px de cima para baixo*/
    /*left: 80px;Ele se move 80px a partir da posição inicial a esquerda - ele empurra da esquerda para direita*/
    top: 0px;/* Ele é empurrado a partir do top para cima*/
    right: -50px;  /*Ele é empurrado do seu ponto inicial esquero para */
    /*Quando o numero é positivo ele empurra do seu ponto inicial para o oposto*/
}
#box{
    position: absolute;
    border: 10px solid red;
    margin: 0 auto;
    height: 720px;
    width:  70%;
}
.caixa1{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: coral;
    position: absolute;
    top: 0;
    left: 0;
}
.caixa2{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}
.caixa3{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: lime;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-100px)
}